# Credentials - NEVER push these
*.env
.env
secrets.txt
credentials.json

# Spotify secrets
client_secret*
client_id*

# Raw data files - too large for GitHub
data/raw/*.csv
data/raw/*.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# OS files
.DS_Store
Thumbs.db
